#headernav ul li a{
    color: #505F98; 
}

.header_hero {
    /* 
    width: auto;
    height: 1000px;
    background-repeat: no-repeat; */
    background-image: url(img/Path.png);
    background-repeat: no-repeat; 
    background-position: right;   
    height: 650px; 
}

#hero-text{
    margin-top: 100px;
}

#hero-img{
    float: right;
    width: 400px;
}

#row-section{
    height: 350px;
}
#footer-1{
    height: 600px;
    background-image: url(img/Rectangle.png);
}
#footer-2{
    background-image: url(img/Rectangle1.png);
    height: 220px;
    width: auto;
}
.fa-brands{
    margin-right: 10px;
}