*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
ul li a{
    margin: 0rem;
    padding: 0rem;
    list-style: none;
    text-decoration: none;
}
.fluidHead{
    background-color: #000;
}
.containerHead{
    background-color: #1B1B1B;
}

.navBar{
    margin: 0rem 5rem;
    background-color: #1B1B1B;
}
.navRow{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navLinks{
    list-style: none;
    display: flex;
    margin: auto;
}
.navLinks a{
    color: #9C9C9C;
    margin: 0rem 15px;
}
.headDiv .navBar .navRow{
    color: #9C9C9C;
}


