    /* Font Used in website*/
    /* font-family: 'IBM Plex Mono', monospace; */
    /* font-family: 'Raleway', sans-serif; */

    /* IBM Plex Mono
        NORMAL
            font-family: 'IBM Plex Mono', monospace;

            font-size: 14px;
            font-weight: 400; 
    */

    /*
        Raleway 
            font-family: 'Raleway', sans-serif;

            font-weight: 800;
            font-size: 44px;
    */
*{
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}
html{
    font-size: 62.50%;
}
.topNav{
    margin: 0rem 5rem;
}
.home{
    /* height: auto; */
    /* width: 128rem; */
    height: 70rem;
    background-color: #080808;
    margin: 0rem 0rem 5rem 0rem;
    padding: 0rem 0rem 5rem 0rem;
}
.navbar{
    background-color: #1B1B1B;
    /* width: 111rem ; */
    height: 7rem;
    border-radius: 1rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4rem;
    font-weight: 400;
    
}
.navbar-text, .navbar-brand, .nav-link{
    color: #9C9C9C !important;
}
.nav-link{
    margin-right: 2rem;
}
.heroMainParent{
    height: 30rem;
    margin: 7rem 20rem;
    gap: 10rem;
    align-items: center;
    display: flex;
}
.heroMain h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 4.4rem;
    margin-bottom: 2rem;
}
.heroMain p{
    width: 49.2rem !important;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4rem;
    font-weight: 400;
    color: #9C9C9C;
    margin-bottom: 5rem !important;
}
.heroMain .heroBtn{
    border-radius: 0.4rem;
    border: 0.1rem solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0rem 0.8rem 3rem 0rem rgba(63, 142, 0, 0.50);
    padding: 1rem 2rem;
    align-items: center;
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.heroMainImg{
    border-radius: 35rem;
}
.workedWith{
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.4rem;
    font-weight: 400;
    color: #9C9C9C;
    margin: 2rem 20rem;
}
.brands{
    display: flex;
    justify-content: space-between;
    margin: 0rem 20rem;
}
.firstRow h1{
    color: #080808;
    text-align: center;
    font-family: Raleway;
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.secondRow p{
    width: 57rem;
    margin: auto;
    color: #9C9C9C;
    text-align: center;
    font-family: IBM Plex Mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
    letter-spacing: 0.014rem;
    margin-bottom: 5rem;
}
#caseStudies{
    margin: 7rem 20rem;
}

.thirdRow{
    height: 40rem;
    overflow: hidden;
}
.thirdRow .row{
    display: flex;
    align-items: center;
}

.thirdRowLeft span{
    color: #FFA217;
    font-family: IBM Plex Mono;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 200% */
    letter-spacing: 0.012rem;
}
.thirdRowLeft h2{
    color: #080808;
    font-family: Raleway;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 1.5rem 0rem 0rem 0rem;
}
.thirdRowLeft p{
    width: 42.1rem;
    color: #9C9C9C;
    font-family: IBM Plex Mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
    letter-spacing: 0.014rem;
    margin: 0rem 0rem 5rem 0rem;
}
.thirdRowLeft .caseBtn{
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.4rem;
    background: #FFA217;
    box-shadow: 0rem 8rem 30rem 0rem rgba(42, 176, 144, 0.10);
    padding: 1rem 2.4rem;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.thirdRowRight img{
    width: 45rem;
    height: 30rem;
    text-align: end;
    border-radius: 6px;
    background: #D9D9D9;
}
.fourthRow{
    height: 40rem;
    overflow: hidden;
}
.fourthRow .row{
    display: flex;
    align-items: center;
}
.fourthRowRight span{
    color: #FFA217;
    font-family: IBM Plex Mono;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 200% */
    letter-spacing: 0.012rem;
}
.fourthRowRight h2{
    color: #080808;
    font-family: Raleway;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin: 1.5rem 0rem 0rem 0rem;
}
.fourthRowRight p{
    width: 42.1rem;
    color: #9C9C9C;
    font-family: IBM Plex Mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.4rem; /* 171.429% */
    letter-spacing: 0.014rem;
    margin: 0rem 0rem 5rem 0rem;
}
.fourthRowRight .caseBtn{
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 0.4rem;
    background: #FFA217;
    box-shadow: 0rem 8rem 30rem 0rem rgba(42, 176, 144, 0.10);
    padding: 1rem 2.4rem;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
}
.fourthRowLeft img{
    width: 45rem;
    height: 30rem;
    text-align: end;
    border-radius: 6px;
    background: #D9D9D9;
}
/* Testimonial Start Here */
#testimonial{
    height: 80rem;
    background-color: #080808;
    margin: 0rem 0rem 5rem 0rem;
    padding: 0rem 0rem 5rem 0rem;
}
/* Testimonial End Here */