    /* Font Used in website*/
    /* font-family: 'IBM Plex Mono', monospace; */
    /* font-family: 'Raleway', sans-serif; */

    /* IBM Plex Mono
        NORMAL
            font-family: 'IBM Plex Mono', monospace;


            font-size: 14px;
            font-weight: 400; 
    */

    /*
        Raleway 
            font-family: 'Raleway', sans-serif;


            font-weight: 800;
            font-size: 44px;
    */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home{
    height: 100vh;
    background-color: #080808;
}
.navbar{
    background-color: #1B1B1B;
    height: 70px;
    border-radius: 10px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
}
.navbar-text, .navbar-brand, .nav-link{
    color: #9C9C9C !important;
}
.nav-link{
    margin-right: 20px;
}
.heroMainParent{
    height: 300px;
    margin-top: 100px !important;
    margin-bottom: 50px;
    margin-left: 65px;
    align-items: center;
    display: flex;
}
.heroMain h1{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 44px;
    margin-bottom: 20px;
}
.heroMain p{
    width: 492px !important;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    color: #9C9C9C;
    margin-bottom: 50px !important;
}
.heroMain .heroBtn{
    border-radius: 4px;
    border: 1px solid #62BA1B;
    background: #3F8E00;
    box-shadow: 0px 8px 30px 0px rgba(63, 142, 0, 0.50);
    padding: 10px 20px;
    align-items: center;
    color: #FFF;
    font-family: IBM Plex Mono;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
.heroMainImg{
    border-radius: 350px;
}
.brands{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-around;
}

